
._contentEditable_utjas_351 {
    font-family: 'Avenir';
    ul {
      padding-inline-start: 20px;
      }
  }

  ._rootContentEditableWrapper_utjas_1006 {
    margin: auto;
  }
  
  .color-1 {
    color: #FFFCD1;
  }
  .color-2 {
    color: #93FCFC;
  }
  .color-3 {
    color: #92FCDC;
  }
  .color-4 {
    color: #F4B5FA;
  }
  
  div:has(.custom-wrapper) {
    display: inline;
  }
  .custom-wrapper {
    display: inline;
    div  {
      color: red;
      background-color: transparent;
      display: inline;
    }
    p {
      display: inline;
    }
  
  }
  
  .streamline-wrapper {
    div {
      background: transparent;
      font-family: 'Avenir';
      font-size: 1.1rem;
    }
  }
  
  .dark-editor {
  
    --basePageBg: #2d2d2d !important;
    --accentSolidHover:  white !important;
    --accentSolidActive: white !important;
    background: #1d1d1d;
  }
  
  ._nestedEditor_utjas_876 {
    li {
      text-align: justify;
      margin-bottom: 12px !important;
      margin-inline-start: 0px !important;
      line-height: 150%;
  
      ul {
        li:first-child {
          margin-top: -6px !important;
        }
  
        li {
          margin-bottom: 8px !important;
        }
      }
    }
  }
  
  .ͼo {
    color: white !important;
    background-color:  #1d1d1d;
  }
  
  .ͼo .cm-gutters {
    color: white !important;
  }
  
  .ͼo .cm-activeLineGutter {
    background-color: #3d3d3d;
  }
  
