
body {
    background: #1d1d1d;
    overflow-x: hidden;
    margin: 0px;
}


._imageWrapper_utjas_834 {
    max-width: 90% !important;
    img {
    max-width: 100% !important;
    }
}

a {
    color: #00b0b0;
}



